html{
  background-image: url(../img/tile.png) ;
   height: 100vh;
   width: 100vw;}























/*html{
   background-color: #5A0303;
   height: 100vh;
   width: 100vw;
}
h1{
    /*font-size: 50px;
    color:#B1F5DC;
    display: inline-grid; 
    background: linear-gradient(#B21E1E, #751414);
    padding:7px;
     -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #707070; 
    border-radius:10px;
    margin:40px;}
img{
    float: right;
    max-width: 30%;
    max-height: auto;
    margin-top: 50px;
    margin-right: 50px;
}
body p{
    color:#B1F5DC;
     -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #707070; 
    /*font-size: 20px;
    padding: 3px;
    margin: 40px;
    text-indent: 50px;
    overflow: hidden;

}
footer img{
    position:relative;
    height:auto;
    width:5%;
    display: block;
    margin-left: 36%;
    margin-right: 30px;
    margin-top: -720px;
}
 h2 {
    display: block;
    width: auto;
    height: auto;
    float:right;
    background-color: #BAB1F5;
    margin-right: 30px;
    padding: 10px;
    color: #F5F3B1;
    border-radius: 10px;
}

nav ul {
    display: block;
    width: 8%;
    height: auto;
    float:right;
    background-color: #BAB1F5;
    position: relative;
    list-style-type: none;
    border-radius: 10px;
}nav ul {
    display: none;
    width: 8%;
    height: auto;
    float:right;
    background-color: #BAB1F5;
    margin-top: -610px;
    position: relative;
    list-style-type: none;
    border-radius: 10px;
}
a{
    color: #F5F3B1;
    display: block;
    text-decoration: none;
    padding: 10px;
}
li:hover {
    background-color: #5A0303;
    margin: 5px;
    border-radius: 10px;

}