html{
   background-color: #5A0303; 
   background-size: 100%
   position: relative;
   overflow-y: hidden;
   overflow-x: hidden; 
}

header h1{
    font-size: 50px;
    color:#B1F5DC;
    display: inline-grid; 
    background: linear-gradient(#B21E1E, #751414);
    padding:7px;
    padding-right: 30px;
    padding-left: 30px;
     -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #707070; 
    border-radius:10px;
    margin:40px;
}  