* { 
   padding: 0;
   margin: 0;
   box-sizing: border-box;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

html{
   background-color: #FF6F4B; 
   background-size: 100%;
}

header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 1.75fr 1fr;
    margin: 0% 2% 3% 2%;
    border: 2px solid whtie;
}
body{

}
nav{

}
main{

}
footer{

}
h1{
    color: #CD2949;
}