

html{
   background-color: #5A0303; 
   background-size: 100%;
   margin: 0;
   padding: 0;
  }
h1{
    color:#EADFC9;
    border:2px solid #EADFC9;
    background-color:#1C1515;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #020202; 
    text-align: center;
    padding: 0px 0px;

}
.subtitle{
    font-size:50px;
    margin-left: 30%; 
    margin-right:30%;
    border-radius:97px;
}
.welcome{
    font-size: 80px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    border-radius: 97px;
}
header {
    display: block;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
   background-size: 100%;
   margin: 0px;
   padding: 1.02%;
   border:6px solid  #020202;


}
.scale{
    display: block;
    position: absolute;
    height: 50%

}
body{
    color:#B1F5DC;
    font-size: 35px;
    overflow-x: hidden;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../img/orb.png);
    background-repeat: no-repeat;
    background-position: 50% 54%;
}
.resize{
    width: 5%;
    height: auto;
}
a{
    text-decoration: none;
    color: #B1F5DC
}
#parent {
    position:relative;
    height:350px;
    width:66%;
    padding:0;
    margin: auto;
    margin-top: 2%;
}
p {
    position:absolute;
    margin-top: 6%;
    padding:5px;

}
p:nth-child(1) {
    top:0;
    left:-25px;   
}
p:nth-child(2) {
    top:0;
    right:-25px;
}
p:nth-child(3) {
    bottom:0;
    left:-10px;
}
p:nth-child(4) {
    bottom:0;
    right:-10px;
}
#tr{
    display: inline-block;
    position: absolute;
    left:35px;
    bottom: 193%;
}
#tl{
    display: inline-block;
    position: absolute;
    left: 94%;
    bottom: 193%;
}
#br{
    display: inline-block;
    position: absolute;
    left: 35px;
    bottom: 135%;
}
#bl{
    display: inline-block;
    position:absolute;
    left: 94%;
    bottom: 135%
}

/*img {
    display block
    position:absolute;
    margin-top: -10%;
    padding:5px;
    margin-left: 30px;

}
img:nth-child(1) {
    top:0;
    left:0;  

}
img:nth-child(2) {
    top:0;
    right:0;
}
img:nth-child(3) {
    bottom:130%;
    left:0;
}
img:nth-child(4) {
    bottom:130%;
    right:0;
}
.resize{
    width: 5%;
    height: auto;
}
img{
   display: block;
    position:relative;
    height:auto;
    width:25%;
    display: block;
    margin-left: 36%;
    margin-right: auto;
    margin-top: 
 
}*/
