html{
   background-color: #5A0303; 
   margin: 0;
   padding: 0;
   height: 100%;
   width:100%;
  }
h1{
    color:#EADFC9;
    border:2px solid #EADFC9;
    background-color:#1C1515;
    -webkit-text-stroke-width: .081rem;
    -webkit-text-stroke-color: #020202; 
    text-align: center;
    padding: 0px 0px;
}
.welcome{
    font-size: 4.2rem;
    margin-left: 12.5%;
    margin-right: 12.5%;
    border-radius: 30px;
    font-family: "Courier New", Courier, monospace
}
.subtitle{
    font-size:2.6rem;
    margin-left: 30%; 
    margin-right:30%;
    border-radius:30px;
    font-family: "Courier New", Courier, monospace
}
header {
    display: block;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border:6px solid  #020202;
}

body{
    display: block;
    font-family: 'Ranchers', cursive;
    text-shadow: 
    width: 100%;
    height: 100%; 
    }
    /*background-image: url(../img/tree.png); 
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: 0% 50%;
  text-shadow: -4px 0 white, 0 4px #020202, 4px 0 #020202, 0 -4px #020202;
}
    }*/
.card1{
    height: 110px;
    width: 400px;
    padding: 10px 0 0 80px;
    background-image: url(../img/tree.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: top center;
    box-sizing: border-box;
    border:2px solid #E6CB5D;
    margin-bottom: 20px;
    display: inline-block;
    float:top left;
   } 
.card2{
    height: 110px;
    width: 400px;
    padding: 10px 0 0 90px;
    background-image: url(../img/tree.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: top center;
    box-sizing: border-box;
    border:2px solid #E6CB5D;
    float: right;
   } 
.card3{
    height: 110px;
    width: 400px;
    padding: 10px 0 0 83px;
    margin-bottom: 20px;
    background-image: url(../img/tree.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: top center;
    box-sizing: border-box;
     border:2px solid #E6CB5D;
    display: inline-block;
    float: left;
   

   } 
 .card4{
    height: 110px;
    width: 400px;
    padding: 10px 0 0 118px;
    margin-left: 161;
    background-image: url(../img/tree.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: top center;
    box-sizing: border-box;
    border:2px solid #E6CB5D;
    display: inline-block;
    float:  right;
} 

.emblum {
    text-align: center;

}
a{
    color: #B1F5DC;
    text-decoration:none;
}
a:hover{
    color: pink;
}
p {
    display: inline-flex;
    font-size: 35px;
    margin-left: 50px;
    margin-right: 50px;
}