html{
   background-color: #5A0303; 
   position: relative;
   overflow-x: hidden; //horizontal
}
h1{
    color:#EADFC9;
    border:2px solid #EADFC9;
    background-color:#1C1515;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #020202; 
    text-align: center;
    padding: 0px 0px;
}
.subtitle{
    font-size:50px;
    margin-left: 30%; 
    margin-right:30%;
    border-radius:97px;
}
.welcome{
    font-size: 80px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    border-radius: 97px;
}
header {
    background-image: url(../img/banner.png);
   background-size: cover;
   margin: 0px;
   padding: 1.02%;
}
body{
    color:#B1F5DC;
    font-size: 35px;
}
#parent {
    position:relative;
    height:350px;
    width:66%;
    padding:0;
    margin: auto;
    margin-top: 2%;
}
p {
    position:absolute;
    margin-top: 6%;
    padding:5px;
}
p:nth-child(1) {
    border-color:green;
    top:0;
    left:0;    
}
p:nth-child(2) {
    border-color:red;
    top:0;
    right:0;
}
p:nth-child(3) {
    border-color:yellow;
    bottom:0;
    left:0;
}
p:nth-child(4) {
    border-color:pink;
    bottom:0;
    right:0;
}